body {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS";
}

#title {
	text-align: center;
	font-size: 3em;

	padding: 1vw;
}

#sub_title {
	font-size: 1.5em;
	padding: 1vw;
}

.text_md {
	padding-left: 1vw;

	font-size: 1em;
}

.text_sm {
	font-size: .75em;
}

#game_box {

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
}

#play_area {
	background: #666;
	
	top: 15vw;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	
	z-index: 1;
}

.button {
	background: #000000;
	color: white;
	
	width: 15vw;
	height: 5vh;

	left: 85vw;

	position: absolute;
	
	text-align: center;
	
	cursor: pointer;
	
	padding-top: 1vw;

	z-index: 2;

	visibility: hidden;
}

button1 {
	top: 0;
}

button2 {
	top: 6vh;
}

#bank {
	background: #111;
	
	width: 100%;
	height: 20%;
	
	top: 80%;
	
	position: absolute;
	
	z-index: 3;
}

.die {
	width: 5vw;
	height: 5vw;
	
	background-size: contain;
	background-repeat: no-repeat;

	position: absolute;
	
	cursor: pointer;
	
	z-index 10;
}

.die_1 {
	background-image: url(../assets/images/farkle/die_one.png);
}

.die_2 {
	background-image: url(../assets/images/farkle/die_two.png);
}

.die_3 {
	background-image: url(../assets/images/farkle/die_three.png);
}

.die_4 {
	background-image: url(../assets/images/farkle/die_four.png);
}

.die_5 {
	background-image: url(../assets/images/farkle/die_five.png);
}

.die_6 {
	background-image: url(../assets/images/farkle/die_six.png);
}

